/* NAVBAR */
body {
  height: 100%;
  padding: 0px;
  margin: 0px;
  background: #FFFCF3;
  font-family: "Lora", serif;
}

header {
  background: #5A5560;
  height: 66px;
}

header * {
  color: white;
}

header .logo {
  float: left;
  height: inherit;
  margin-left: 2em;
}

header ul {
  float: right;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

header ul li {
  float: left;
}

header ul li a {
  display:block;
  padding: 21px;
  font-size: 1.1em;
  text-decoration: none;
}

header ul li a: hover {
  background: #67ABBA;
  transition: 0.5s;
}

header ul li ul li {
  width: 100%;
}

header ul li ul li a {
  padding: 10px;
  background: white;
  color: #444;
}

header ul li ul li a:hover {
  background: #d5d6d6;
}

header ul li a {
  display: block;
  padding: 21px;
  font-size: 1.1em;
  text-decoration: none;
}

header ul li a:hover {
  background: #006669;
  transition: 0.5s;
}

header .menu-toggle {
  display: none;
}

.page-wrapper {
  min-height: 100%;
}

.page-wrapper a:hover {
  color: #006669;
}

/* FOOTER */

.footer {
  background: #5A5560;
  color: #d3d3d3;
  height: 400px;
  /* position: relative; */
}

.footer .footer-content {
  height: 350px;
  display: flex;
}


.footer .footer-bottom {
  background: #343a40;
  color: #686868;
  height: 50px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-top: 20px;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 934px) {
  .content {
    width: 100%;
  }

  .content .main-content .post {
    width: 100%;
  }


@media only screen and (max-width: 770px) {
  header {
    position: relative;
  }

  .main-content-wrapper {
    padding: 10px;
  }

  header ul {
    width: 100%;
    background: #0e94a0;
    max-height: 0px;
    overflow: hidden;
  }

  .showing {
    max-height: 100em;
  }

/* hover below hambger menu */
  header ul li ul li a:hover {
    background: #006669;
  }


  header .menu-toggle {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 1.9em;
  }

  header .logo {
    margin-left: 0.5em;
  }
}

@media only screen and (max-width: 600px) {
  .content .main-content .post {
    height: auto;
  }
